# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\andriod\chapter05\PhoneNote\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
